@charset "utf-8";
/* CSS Document */
.pro_box_big{
	width:554px;
	float:left;	
	height:auto;

	padding:10px 10px 10px 15px;}
.top_pro_box_big{
	width:554px;
	height:12px;
	float:left;
	background:url(../images/details_box_top.gif) no-repeat center bottom;}
.bottom_pro_box_big{
	width:554px;
	height:12px;
	float:left;
	background:url(../images/details_box_bottom.gif)no-repeat center top;
	}	
.center_pro_box_big{
	width:554px;
	height:auto;
	float:left;
	text-align:center;
	background:url(../images/details_box_center.gif)repeat-y;}
.contact_form{
	width:355px;
	float:left;
	padding-left:75px;
	
	}	
.form_row{
	width:355px;
	color:#a53d17;
	padding:10px 0;
	}
label.contact{
	width:75px;
	float:left;
	font-size:12px;
	text-align:right;
	color:#333;
	padding:4px 5px 0 0;
	}
input.contact_input{
	width:253px;
	height:18px;
	background-color:#fff;
	color:#999;
	border: 1px solid #dfdfdf;
	}
.clear{
	clear:both;}
.contact_textarea{
	width:253px;
	font-size:12px;
	background-color:#fff;
	color:#999;
	border:1px solid #dfdfdf;
	height:50px;
	max-width:253px;
	min-width:253px;
	min-height:50px;
	max-height:100px;	
}
a.contact{
	background:url(../images/contact_bt.gif)no-repeat left;
	width:120px;
	height:27px;
	display:block;
	text-decoration:none;
	float:right;
	line-height:27px;
	color:#1c4a52;
	}