@charset "utf-8";
/* CSS Document */

.right_content{
	float:left;
	width:196px;
	
	padding: 5px 0px;
	}
.shopping_cart{
	width:195px;
	height:84px;
	background:url(../images/cart_bg.gif)no-repeat center;
	text-align:center;}
	.cart_title{
		font-weight:bold;
		font-size:12px;
		color:#847676;
		padding-top:8px;
		
		}
     .cart_details{
		width:115px;
		float:left;
		text-align:left;
		padding:5px 0 0 15px;
		 }
	  .cart_icon{
		  float:left;
		  padding: 5px 0 0 15px;
		  }
	   .border_cart{
		   with:100px;
		   height:1px;
		   display:block;
		   border-top:1px dashed #999;
		   margin:3px 0 ;
		   }